@media (max-width: 1200px) {
    .header {
        display: flex;
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            margin-right: 70px;
        }
    }
    .privilege{
        &__icons {
            justify-content: space-around;
        }
    }
    .title_left {
        font-size: 32px;
    }
    .consultation {
        padding-left: 70px;
        &__descr {
            margin-top: 90px;
        }
    }
    .carousel {
        padding: 71px 0;
        &__inner {
            width: 650px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-top: 60px;
        }
    }
    .client {
        &__comm {
            width: 850px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo{
            width: 200px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        padding: 21px 0 50px 0;
        &__wrapper {
            align-items: center;
            margin-top: 70px;
            margin-right: 0;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            margin: 10px 0 8px 0;
            font-size: 20px;
        }
    }
    .title{
        font-size: 27px;
    }
    .privilege {
        padding: 40px 0 60px 0;
        &__icons {
            margin-top: 55px;
        }
        &__icon {
            max-width: 220px;
        }
    }
    .title_left {
        text-align: center;
    }
    .consultation {
        padding:80px 0 70px 0;
        text-align: center;
        display: flex;
        &__descr {
            margin-top: 75px;
        }
    }
    .feed-form {
        width: 280px;
        margin: 0 auto;
        margin-top: 36px;
        align-items: center;
    }
    .carousel {
        &__inner {
            width: 550px;
        }
    }
    .catalog {
        padding-bottom: 70px;
        &__tabs {
            padding-top: 50px;
        }
        &__tab {
            width: 180px;
            height: 42px;
            font-size: 16px;
            line-height: 40px;
        }
        &-item {
            width: 280px;
            &__price {
                font-size: 18px;
            }
        }
    }
    .client {
        hr {
            margin: 45px 0;
        }
        &__comm {
            width: 700px;
            margin-top: 60px;
        }
        &__avatar {
            width: 130px;
            height: 130px;
            margin-right: 40px;
        }
        &__nickname {
            font-size: 16px;
        }
        &__marafon {
            font-size: 13px;
        }
        &__comment {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 250px;
            padding: 40px 40px 30px 40px;
        }
        &__addr {
            font-size: 18px;
            margin-bottom: 30px;
            line-height: 18px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 35px;
            line-height: 18px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 23px;
            }
            &:hover{
                border: 2px solid #ffffff;
            }
        }
    }
    .button {
        &:hover {
            top: 0;
            box-shadow: none;
        }
    }
}

@media (max-width: 767px) {

    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
        button {
            width: 135px;
            height: 28px;
            font-size: 11px;
        }
    }
    .promo {
        min-height: 580px;
        padding: 21px 0 30px 0;
        .button_main {
            margin-top: 50px;
            width: 280px;
            height: 48px;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            margin: 6px 0 6px 0;
            font-size: 18px;
        }
        &__icons {
            width: 400px;
            margin-top: 50px;
        }
        &__icon {
            img {
                margin-bottom: 15px;
            }
        }
        &__link {
            margin-top: 16px;
            font-size: 14px;
        }
    }
    .privilege {
        padding: 35px 0 50px 0;
        .title {
            font-size: 23px;
        }
        &__icons {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 20px;
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 13px;
        }
    }
    .title_left {
        font-size: 23px;
    }
    .consultation {
        min-height: 600px;
        padding: 70px 30px 60px 30px;
        &__descr {
            margin-top: 45px;
            font-size: 17px;
        }
    }
    .button_submit {
        height: 40px;
        font-size: 12px;
    }
    .carousel {
        &__inner {
            width: 450px;
        }
        .slick-dots  {
            li {
                margin: 0 6px;
                button {
                    width: 8px;
                    height: 8px;
                }
            }
            .slick-active {
                button {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        .title {
            font-size: 23px;
        }
        &__tabs {
            padding-top: 35px;
        }
        &__tab {
            width: 140px;
            height: 38px;
            font-size: 13px;
            line-height: 36px;
        }
        &-item {
            width: 320px;
            &__price {
                font-size: 17px;
            }
        }
    }
    .client {
        min-height: 920px;
        hr {
            margin: 40px 0;
        }
        .title {
            font-size: 23px;
        }
        &__comm {
            width: 480px;
            margin-top: 60px;
        }
        &__micro {
            align-items: center;
        }
        &__nickname {
            margin-bottom: 0;
        }
        &__avatar {
            display: none;
            &-mini {
                display: block;
            }
        }
        &__marafon {
            display: none;
        }
        &__comment {
            margin: 10px 0 0 40px;
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            width: 100%;
            height: 200px;
            padding: 30px 40px 30px 40px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 30px;
            line-height: 16px;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 30px;
            line-height: 16px;
        }
        &__social-item {
            width: 42px;
            height: 42px;
            img {
                height: 20px;
            }
        }
    }
    .modal {
        width: 360px;
        padding: 35px 35px 38px;
    }
}

@media (max-width: 543px) {
    .header {
        button {
            width: 110px;
            height: 23px;
            font-size: 9px;
        }
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        min-height: 530px;
        .button_main {
            margin-top: 35px;
            width: 265px;
            height: 45px;
            font-size: 13px;
        }
        padding: 15px 0 30px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 22px;
            margin: 0;
        }
        &__subheader {
            text-align: center;
            font-size: 16px;
        }
        &__icons {
            margin-top: 20px;
            width: 320px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin: 10px 0;
            width: 200px;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            align-items: center;
            img {
                margin: 0 10px 0 0;
            }
        }
        &__link {
            margin-top: 12px;
            font-size: 12px;
        }
    }
    .privilege {
        .title {
            font-size: 18px;
        }
        &__icons {
            margin-top: 20px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 12px;
        }
    }
    .title_left {
        font-size: 18px;
    }
    .consultation {
        min-height: 500px;
        padding: 50px 30px 40px 30px;
        &__descr {
            margin-top: 40px;
            font-size: 14px;
        }
    }
    .feed-form{
        margin-top: 30px;
        width: 230px;
        input {
            height: 40px;
            margin-bottom: 10px;
            padding: 0 12px;
            font-size: 13px;
            &:nth-child(3) {
                margin-bottom: 12px;
            }
        }
    }
    .button_submit {
        height: 40px;
        font-size: 13px;
    }
    .carousel {
        padding-bottom: 50px;
        &__inner {
            width: 290px;
            margin: 0 auto;
        }
    }
    .catalog {
        padding-bottom: 40px;
        .title {
            font-size: 18px;
        }
        &__tab {
            width: 28%;
            height: 32px;
            font-size: 10px;
            line-height: 31px;
            margin: 0 3px;
        }
        &__content {
            margin: 60px 40px;
        }
        &-item {
            .button_mini {
                width: 47%;
                height: 36px;
                font-size: 14px;
            }
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size: 12px;
                margin-top: 14px;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            &__list {
                li {
                    font-size: 12px;
                    margin-bottom: 14pxs;
                }
            }
        }
    }
    .client {
        min-height: 800px;
        hr {
            margin: 30px 0;
        }
        .title {
            font-size: 18px;
        }
        &__comm {
            width: 85%;
            margin-top: 50px;
        }
        &__avatar-mini {
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }
        &__nickname {
            font-size: 14px;
        }
        &__comment {
            margin: 10px 0 0 40px;
            font-size: 10px;
        }
    }
    .footer {
        &__info {
            width: 100%;
            height: 180px;
            padding: 30px 40px 30px 40px;
        }
        &__addr {
            font-size: 14px;
            margin-bottom: 25px;
            line-height: 14px;
        }
        &__phone {
            font-size: 14px;
            margin-bottom: 25px;
            line-height: 14px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
            img {
                height: 19px;
            }
        }
    }
    .modal {
        min-height: 360px;
        width: 300px;
        padding: 35px 15px 28px;
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
        &__close {
            font-size: 35px;
            top: 8px;
            right: 10px;
        }
    }
}
